@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.checkBox{
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.cross{
  opacity: 0;
}

li:hover .cross{
  opacity: 100;
}